<html>
  <head>
    <title>STT</title>
  </head>
  <div style="text-align: center;">
    <h2>STT</h2>
    <p>
      <button type="button" id="record">record</button>
      <button type="button" id="stopRecord" disabled>stop</button>
      <!-- <input type="button" id="sendRecord" value="trans to text"> -->
    </p>
    <p>
      <audio id=recordedAudio></audio>
    </p>
  </div>
</html>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="static/scripts/audio_recorder.js"></script>